/*
=================================
  CUSTOM PROPERTIES
=================================
*/
:root {
  /* colors */
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);

  /* font-sizes */
  --fs-300: clamp(42rem / 16, 1rem + 5vw, 60rem / 16);
  --fs-200: clamp(28rem / 16, 1rem + 5vw, 42rem / 16);

  /* font-weight */
  --fw-400: 400;
  --fw-300: 300;

  /* font-family */
  --ff-alata: "Alata", sans-serif;
  --ff-josefin: "Josefin Sans", sans-serif;
}



/*
=================================
  RESETS
=================================
*/
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

input, select, textarea, button {
  font: inherit;
}

body {
  font: calc(15em / 16) var(--ff-alata);
  font-weight: 400;
  color: var(--dark-gray);
  min-height: 100vh;
  background-color: var(--white);
}


@media (prefers-reduced-motions: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



/*
=================================
  UTILITIES
=================================
*/
/* general */
.container {
  width: min(90%, 1000px);
  margin: 0 auto;
}

.d-block { display: block }

.sr-only {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Typography */
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200) }

.fw-400 { font-weight: var(--fw-400); }
.fw-300 { font-weight: var(--fw-300); }

.ff-alata { font-family: var(--ff-alata); }
.ff-josefin { font-family: var(--ff-josefin); }

.uppercase { text-transform: uppercase; }

.text-white { color: var(--white) }
.text-black {color: var(--black) }




/*
=================================
  COMPONENTS
=================================
*/
/* Reusable */
.logo {
  width: 130px;
}

.nav ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
}

.nav ul a {
  color: #fff;
  text-decoration: none;
}


/* Header */
.header {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.header__hero {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: url('./assets/images/mobile/image-hero.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(1.2);
  animation: scale 2800ms ease forwards;
}

.header__main {
  display: flex;
  justify-content: space-between;
  padding: calc(50rem / 16) 0;
}


.header__menu {
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  display: none;
}

.header__intro {
  padding: calc(50rem / 16) 0 calc(200rem / 16);
}

.header__title {
  border: 1px solid var(--white);
  padding: calc(18rem / 16);
  width: min(100%, 525px);
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

@media (min-width: 35em) {
  .header__hero {
    background-image: url('./assets/images/desktop/image-hero.jpg');
  }

  .hader__intro {
    padding-bottom: calc(100rem / 16);
  }
}

@media (max-width: 45em) {
  .header__logo,
  .header__menu {
    position: relative;
    z-index: 1000;
  }

  .header__menu {
    display: block;
    position: relative;
  }

  .header__menu img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .header__menu > img:nth-child(2) {
    width: 25px;
    height: 22px;
  }

  .header__menu > img:nth-child(3) {
    width: 22px;
    height: 22px;
    display: none;
  }

  .header__menu[aria-expanded="true"] img:nth-child(2) {
    display: none;
  }

  .header__menu[aria-expanded="true"] img:nth-child(3) {
    display: block;
  }

  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);

    font-family: var(--ff-josefin);
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 35px;

    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 300ms, visibility 0s linear 300ms;
  }

  .header__menu[aria-expanded="true"] + .header__nav {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
  }

  .header__nav ul {
    flex-direction: column;
    display: none;
  }

  .header__menu[aria-expanded="true"] + .header__nav ul {
    display: flex;
  }

  .header__nav li {
    position: relative;
    overflow: hidden;
    transform: scaleX(0);
    transform-origin: left top;
    animation: slide-in 300ms linear forwards;
  }

  .header__nav li::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 100%;
    background: var(--white);
    transform: skewX(-40deg) translateX(-10%);
    animation: slide-out 300ms linear 300ms forwards;
  }

  .header__nav ul a:hover {
    font-weight: 700;
  }

  @keyframes slide-in {
    100% {
      transform: scaleX(1);
    }
  }

  @keyframes slide-out {
    100% {
      transform: translateX(100%);
    }
  }
}

/* Leader Section */
.leader {
  padding: calc(90em / 16) 0 calc(50em / 16);
}

.leader__card {
  display: flex;
  flex-direction: column;
}

.leader__content {
  text-align: center;
  padding: calc(20rem / 16);
  background-color: var(--white);
}

.leader__content > * {
  margin-top: calc(20em / 16);
}

@media (min-width: 55em) {
  .leader {
    padding-bottom: calc(80em / 16);
  }

  .leader__card {
    flex-direction: row;
    position: relative;
  }

  .leader__image {
    width: 60%;
  }

  .leader__content {
    text-align: left;
    position: absolute;
    width: 50%;
    padding: 80px 0 0 65px;
    right: 0;
    bottom: 0;
  }

  .leader__content h2 {
    margin-top: 0;
  }
}


/* Creations */
.creations {
  padding: 20px 0 80px;
}

.creations__grid {
  display: grid;
  gap: 30px;
}

.creations__grid h2 {
  text-align: center;
}

.creations__img-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 120px;
  gap: 20px;
}

.creations__img-container {
  position: relative;
  z-index: 0; /* new stacking context for img-container */
}

.creations__title {
  position: absolute;
  left: 15px;
  bottom: 10px;
  line-height: 1.1;
  font-size: clamp(25rem / 16, 1rem + 3vw, 30rem / 16);
  transition: color 300ms;
  z-index: 3
}

.creations__img-container::before {
  content: "";
  background-color: hsl(0, 0%, 100%, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: opacity 300ms, visibility 0s linear 300ms;
  opacity: 0;
  z-index: 2;
}

.creations__img-container:hover::before {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.creations__img-container:hover .creations__title {
  color: var(--black);
}

.creations__img {
  box-shadow: inset 80px 0px 50px rgba(0,0,0,0.5); /* add shadow on image */
  height: 100%;
  width: 100%;
}

.creations__img img {
  position: relative; /* add shadow on image */
  z-index: 1; /* add shadow on image */
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.creations__btn {
  background-color: var(--white);
  border: 1px solid var(--black);
  padding: 6px 40px;
  font-size: calc(18rem / 16);
  letter-spacing: 3px;
  position: relative;
  z-index: 0;
  transition: all 250ms ease-out;
  place-self: center;
}

.creations__btn::before {
  content: "";
  display: block;
  background: var(--black);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  clip-path: circle(0% at 0% 0%);
  transition: all 350ms ease-in;
}

.creations__btn:hover {
  color: #fff;
}

.creations__btn:hover::before {
  clip-path: circle(200% at 0% 0%);
}

@media (min-width: 45em) {
  .creations__grid {
    gap: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "heading button"
      "img img";
  }

  .creations__grid h2 {
    text-align: left;
    grid-area: heading
  }

  .creations__btn {
    justify-self: end;
    grid-area: button;
  }

  .creations__img-grid {
    grid-area: img;
  }

  .creations__img {
    box-shadow: inset 0px -80px 80px rgba(0,0,0,0.5);
  }
}

@media (min-width: 48em) {
  .creations__img-grid {
    grid-auto-rows: auto;
  }

  .creations__title {
    left: 35px;
    bottom: 30px;
  }
}


/* Footer */
.footer {
  background: var(--black);
  padding: 40px 0px 20px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer__nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.footer__nav ul {
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer__socials {
  text-align: center;
}

.footer__socials > * + * {
  margin-top: 15px;
}

.footer__icons-list {
  display: flex;
  justify-content: center;
  gap: 15px;
}

@media (min-width: 45em) {
  .footer__container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__nav-container {
    align-items: flex-start;
    gap: 20px;
  }

  .footer__nav ul {
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
  }

  .footer__socials {
    text-align: left;
  }

  .footer__icons-list {
    justify-content: flex-end;
  }
}